# Dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Exports
server/exports/*.json

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# ngrok
ngrok.exe
ngrok

setup-structure.bat

